.candycrush {
    justify-content: center;
    display: flex;
    padding: 30px;
}
.candycrush>:nth-child(1) {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: flex;
    position: absolute;
    top: -3rem;
    transition: 0.4s;
}
.candycrush>:nth-child(1):hover {
    transform: scale(1.1);
    color: var(--black);
}
.candycrush::before {
    justify-content: center;
    display: flex;
    padding: 30px;
}
.game {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}
.game img {
    width: 70px;
    height: 70px;
}