.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 30vh;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border: 2px solid #fc00ff;
  box-shadow: 0px 2px 20px 4px #fb00ffb4;
}
.blur {
  background-color: var(--blue);
  position: absolute;
  width: 60rem;
  height: 4rem;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -9;
}
.achievement span:nth-child(3) {
  color: var(--pink);
}
